@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300&display=swap');

body {
  height: 100vh;

}
.inner-container {
  background: url(../img/pg-brain.png) no-repeat 50% 20%;
  background-attachment: fixed;
  background-size: 80vw;
  min-height: 100vh;
  -webkit-animation: beat 1.3s infinite;
    -moz-animation: beat 1.3s infinite;
    -o-animation: beat 1.3s infinite;
    animation: beat 1.3s infinite;
}
@keyframes beat {
  0%   {background-size: 83vw;}
  5%  {background-size: 79vw;}
  10%  {background-size: 80vw;}
  100%  {background-size: 80vw;}
}


.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(../img/background_s.png) no-repeat center;
  background-attachment: fixed;
  background-size: 100% 100%;
}

@media only screen and (min-width: 770px) {
  .homepage-container {
    background: url(../img/background_m.png) no-repeat center top;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .homepage-container {
    background: url(../img/background_l.png) no-repeat center top;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}

.container {
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, #000000 40%, #632828 50%, #000000 60%, #000000 100%);
    background-size: 240% 240%;

    -webkit-animation: AnimationName 20s infinite;
    -moz-animation: AnimationName 20s infinite;
    -o-animation: AnimationName 20s infinite;
    animation: AnimationName 20s infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:30% 0%}
    50%{background-position:70% 100%}
    100%{background-position:30% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:30% 0%}
    50%{background-position:70% 100%}
    100%{background-position:30% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:30% 0%}
    50%{background-position:70% 100%}
    100%{background-position:30% 0%}
}
@keyframes AnimationName {
    0%{background-position:30% 0%}
    50%{background-position:70% 100%}
    100%{background-position:30% 0%}
}


/* HEADER */

header {
  max-width: 800px;
  margin: 3em auto 2em auto;
  padding: 0.3em;
  text-align: center;
}

@media screen and (max-width: 482px) {
  header {
    margin-top: 6em;
  }
}
header img {
  max-width: 650px;
  margin: -0.5em auto 0.3em auto;
  width: 100%;
}

/* NAV */

nav ul {
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(200, 200, 200, 0.6);
  justify-content: center;
  padding: 0;
  transition: 0.25s;
}

nav li {
  display: inline;
  padding: 0.8em 0;
  margin: 0 0.5em;
  transition: 0.25s;
}

nav a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.05em;
  font-weight: 700;
  text-decoration: none;
  padding: 0.8em;
  color: #222;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.25s;
}

nav a:hover {
  background-color: #555;
  color: #afafaf;
}

nav li:hover {
  background-color: #555;
}

nav li:active, nav a:active {
  background-color: #3b3b3b;
}

.selected {
  color: #afafaf;
  background-color: #3b3b3b;
  border-radius: 0;
}
.scrolled {
  background-color: rgba(25, 25, 25, 0.8);
}

.scrolled li {
  padding: 0;
}
.scrolled a {
  color: #afafaf;
  padding: 0 0.8em;
  border-radius: 0;
}

.scrolled a:hover {
  top: 0;
  background-color: rgb(25, 25, 25);
  box-shadow: 2px -4px 6px #632828, -2px -4px 6px #632828;
}

.scrolled .selected {
  background-color: #632828;
}
/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

footer p {
  align-self: flex-end;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #afafaf;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
}

footer a {
  display: inline-block;
  color: #222;
  height: 1.5em;
  padding: 0.6em;
  width: 1.5em;
  margin: 1em;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.6);
  transition: 0.25s;
}

footer a:hover {
  cursor: pointer;
  background-color: #555;
  color: #afafaf;
}

.scrolled-link {
  color: #afafaf;
  background-color: rgba(25, 25, 25, 0.8);
}

.scrolled-link:hover {
  cursor: pointer;
  background-color: rgb(25, 25, 25);
  box-shadow: 3px 4px 6px #632828, -3px -4px 6px #632828;
}

@media screen and (max-width: 400px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  footer ul {
    order: 1;
  }
  footer p {
    order: 2;
    align-self: center;
  }
}
