.adding {
    padding: 0;
    margin: 1em auto;
    max-width: 800px;
}
.adding select {
    background: #afafaf;
    width: 268px;
    margin-bottom: 1em;
    padding: 5px;
    font-size: 1em;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    
}
.news-form {
    max-width: 700px;
}

.preview {
    width: 90%;
    padding: 2em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 100px;
    z-index: 1;
    background-color: #000;
}

.preview .date {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #555;
}

.preview .preview-btn {
    cursor: pointer;
    width: 7em;
    padding: 0.5em;
    font-size: 1.1em;
    color: #afafaf;
    background-color: #632828;
    border: none;
    border-radius: 3px;
    margin: 2em 0 0.1em 0;
}

.preview button:hover {
    background-color: #a52121;
    box-shadow: 2px 2px 8px #632828, -2px -2px 8px #632828;
} 

.close {
    float: right;
    margin-top: 0;
    background-color: #632828;
    color: #afafaf;
    border: none;
    border-radius: 3px;
}

input:disabled {
    opacity: 0.35;
}
button:disabled, button:disabled:hover {
    background-color: #632828;
    color: #a52121;
    box-shadow: none;
    cursor: not-allowed;
}

h3 {
    font-weight: bold;
    text-shadow: 3px 2px 4px #a52121;
}
.fullW {
    width: 100%;
}

.halfInput {
    align-self: flex-end;
}