html {
    --scrollbarBG: rgba(0, 0, 0, 0.1);
    --thumbBG: #a52121;
  }
  
.rotate, .show:active {
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

.shirt-footer {
    position: relative;
    bottom: 3em;
    color: #632828;
}

.show {
    cursor: pointer;
    font-size: 1.5em;
}
.add-merch {
    cursor: pointer;
    position: relative;
    font-size: 1.8em;
    left: 31%;
    bottom: 235px;
}

.shirt-footer div {
    position: relative;
    bottom: 240px;
    left: 2.5em;
    padding: 0.5em;
    margin-bottom: -139px;
}

.merch-form {
    background-color: rgba(99, 40, 40, 0.3);
    width: 70%;
    transition: 0.3s;
}

.merch-form select {
    width: 70%;
}

.hide {
    position: relative;
    visibility: hidden;
    width: 0%;
}

.show:hover, .add-merch:hover {
    position: relative;
    color: #a52121;
    text-shadow: 1px 1px #632828;
} 

.shirt {
    margin: auto;
    width:90%;
    -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.front, .back {
    border-radius: 10px;
    box-shadow: 0 1px 8px 0 #632828;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.back {
    position: relative;
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

.shirt-div {
    max-width: 330px;
    width: 100%;
    margin: 0.2em auto;
}

.shirt-text {
    position: relative;
    top: -2em;
}

/* shopping cart */

.shopping-cart {
    max-width: 500px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-align: right;
    z-index: 1;
    position: fixed;
    top: 3.8em;
    right: 1em;
  }

  .shopping-cart-icon {
    color: #632828;
    font-size: 1.7em;
  }

  .shopping-cart-icon:hover {
    cursor: pointer;
      color: #a52121;
  }
  
  .item-counter {
      position: relative;
      font-size: 0.7em;
      padding: 0 0.4em;
      right: 1em;
      bottom: 1.5em;
      background-color: #fff;
      border-radius: 50%;;
  }

  .grid-items {
      display: grid;
      grid-template-columns: 2fr 3fr 2fr;
      grid-template-rows: 3em 2em 4em;
  }

  .cart-items {
    overflow-y: auto;
    max-height: 80vh;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    border: 1px solid #a52121;
    background-color: rgba(40, 15, 15, 0.7);
    padding: 0.5em;
    color: #afafaf;
  }

  .cart-items img {
      margin: 0.5em;
      grid-row: 1/4;
      width: 100%;
  }
  .item-name {
      text-align: center;
      grid-column: 2/4;
      grid-row: 1/2;
      padding: 0.5em;
  }
  .item-size {
      grid-row: 2/3;
      grid-column: 2/4;
      font-size: 0.9em;
      font-weight: normal;
      text-align: center;
  }
  .item-amount {
    padding-left: 2em;
    display: flex;
    justify-content: space-between;
      font-size: 0.9em;
      font-weight: normal;
      grid-row: 3/4;
      grid-column: 2/4;
  }

  .item-amount span strong {
      padding-right: 0.8em;
  }

  .increment-icon {
      cursor: pointer;
      color: #a52121;
      padding-left:0.6em;
  }
  .increment-icon:hover {
      color: #bf3f3f;
  }

  .total {
      display: inline;
      margin-left: 2em;
  }

  table {
      width: 100%;
  }
  tr {
      width: 600px;
  }
  td {
      padding: 0;
      margin: 0;;
  }
  td input {
      font-size: 0.8em;
      padding: 0;
      margin: 0;
      width: 100%;
  }
  .wider {
    max-width: 320px;
  }
  .wide {
    max-width: 170px;
  }
  .narrow {
    max-width: 30px;
  }
  .narrower {
    max-width: 30px;
  }